<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
    <listeners>
        <listener class-name="Utilities.ExtentReportManager"></listener>
    </listeners>
    <test name="Sample Test">
        <classes>
            <class name="Tests.TC_001_GenerateAccessToken" />
            <class name="Tests.TC_002_Albums" />
        </classes>
    </test>
</suite>
